includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - app/Console/Kernel.php (?)
        - bootstrap/cache (?)
    treatPhpDocTypesAsCertain: true
    tmpDir: .phpstan-cache
